.footer {
    background-color: #111111; /* Цвет footer */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .footer .social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 62px;
  }
  
  .footer .social-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }
  
  .footer .copyright {
    font-size: 18px;
  }
  